<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Kartrocket</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../node_modules/angularjs-toaster/toaster.min.css">
    <script src="../node_modules/jquery/dist/jquery.min.js"></script>
    <script src="../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="../node_modules/angular/angular.min.js"></script>
    <script src="../node_modules/angular-route/angular-route.min.js"></script>
    <script src="../node_modules/angular-bootstrap-npm/dist/angular-bootstrap-tpls.min.js"></script>
    <script src="../node_modules/ngstorage/ngStorage.min.js"></script>
    <script src="../node_modules/angularjs-toaster/toaster.min.js"></script>
    <script src="app.js"></script>
    <script src="constants/configuration.js"></script>
    <script src="controllers/MainController.js"></script>
    <script src="controllers/HomeController.js"></script>
    <script src="controllers/DetailedViewController.js"></script>
    <script src="controllers/FavoriteController.js"></script>
    <script src="controllers/RecentViewedController.js"></script>
    <script src="components/movieList.js"></script>
    <script src="services/FavoriteService.js"></script>
    <script src="services/RecentViewed.js"></script>

    <!--module: ngOMDBSearchCore-->
    <script src="modules/ngOMDBSearchCore/ngOMDBSearchCore.js"></script>
    <script src="modules/ngOMDBSearchCore/factories/OmdbHttpFactory.js"></script>
</head>
<body ng-app="ngOMDBSearch" ng-controller="MainController" ng-strict-di>
    <header>
        <div class="navbar navbar-default">
            <div class="container">
                <div class="navbar-header">
                    <h1>Movies Hub</h1>
                </div>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <nav class="navbar navbar-inverse">
                <ul class="nav navbar-nav">
                    <li><a href ng-click="go('/home')">Home<span class="sr-only">(current)</span></a></li>
                    <li><a href ng-click="go('/favorite')">Favorites</a></li>
                    <li><a href ng-click="go('/recent')">Recently viewed</a></li>
                </ul>
                </nav>
            </div><!-- /.navbar-collapse -->
        </div>
    </header>
    <section>
        <div ng-view></div>
    </section>
    <footer>
        <div class="text-center">
            <p>Movies Hub by <a href="https://github.com/sunil-jhamnani" target="_blank">Sunil
                Jhamnani</a></p>
        </div>
    </footer>
</body>
</html>