<div class="container main-body-content">
    <toaster-container toaster-options="{'time-out': 1000, 'close-button':true, 'animation-class': 'toast-top-center'}"></toaster-container>
    <form class="form-inline">
        <div class="form-group">
            <input type="text" class="form-control" id="name" placeholder="Movie Title" ng-model="movie.name" required>
        </div>

        <div class="form-group">
            <input type="number" class="form-control" id="year" placeholder="Year"
                   ng-model="movie.year">
        </div>

        <button type="submit" class="btn btn-primary" ng-click="prepareList()" ng-disabled="!movie.name">Submit</button>
        <button type="submit" class="btn btn-primary" ng-click="reset()">Reset</button>
    </form>
    <div id="search-by-title-progress" class="hide progress progress-info progress-striped active">
        <div class="progress-bar" style="width: 100%;">
        </div>
    </div>
    <div class="list-group" id="movies-list">
        <movielist class="movie" ng-repeat="movie in movies" movie="movie" index="$index"></movielist>
    </div>
    <ul uib-pagination total-items="totalPages" ng-model="movie.page" max-size="5" ng-change="prepareList()"
        class="pagination-sm"
        boundary-links="true" ng-show=" totalPages > 10 ? true : false" style="float: right"></ul>
</div>